<a href="https://colab.research.google.com/github/daegeunbae/daegeunbae/blob/main/2022_02_09_BAE_%EC%98%81%ED%99%94%EC%A0%95%EB%B3%B4%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from collections import deque

In [ ]:
## kobis api : json
#필요한 패키지들
import pandas as pd
import urllib.request # urllib, requests
import json

In [ ]:
stock_price_DF = pd.DataFrame( #리뷰
    data = [10000, 10300, 9900, 10500, 11000],
    index = ["2022-01-01", "2022-01-02","2022-01-03",
             "2022-01-04", "2022-01-5"]
)
stock_price_DF

In [ ]:
N = 1000
time = 100
M = 1000 #M번에 대해서 pop, append

#test에 사용할 list, Deque
list_stack = list([ i for i in range(0, N)])
deque_stack = list([ i for i in range(0, N)])

#listf를 가지고 Stack으로 할때
start_time = time.time()
for _ in range(0,TIMES):
    #M번에 대해서 원소를 추가append도 하고, 빼기도 : stack
    for i in range(0,M):#M까지 넣는거에 대해서
        list_stack.append(i)
        list_stack.pop()
print("List-Stack Run Time:", time.time() - start_time()

#Deque를 가지고 
start_time = time.time()
for _ in range(0,TIMES):
    #M번에 대해서 원소를 추가append도 하고, 빼기도 : stack
    for i in range(0,M):#M까지 넣는거에 대해서
        deque_stack.append(i)
        deque_stack.popleft()
print("Deque-Stack Run Time:", time.time() - start_time()

SyntaxError: ignored

In [ ]:
#list를 가지고 Queue으로 할때
start_time = time.time()
for _ in range(0,TIMES):
    for i in range(0,M): #M까지 넣는거에 대해서
        list_queue.append(i)
        list_queue.pop()
print("List-queue Run Time:", time.time() - start_time()

#Deque를 가지고 
start_time = time.time()
for _ in range(0,TIMES):
    for i in range(0,M): #M까지 넣는거에 대해서
        deque_queue.append(i)
        deque_queue.popleft()
print("Deque-queue Run Time:", time.time() - start_time()

In [ ]:
#백준 특정 도시 거리 찾기
from collections import deque

In [ ]:
n,m,k,x = list(map(int,input("도시소,도로수,거리,시작도시").split())
print(n,m,k,x)

SyntaxError: ignored

In [ ]:
(map(int,input().split())) -> 1,2,3,4 ->[1,2,3,4]

SyntaxError: ignored

In [ ]:
#문제에서 1번 도시부터 N번 도시까지이니

In [ ]:
#graph 지도에서 1번 인덱스 ~N번 인덱스에 각 도시를 연결
#일단 0번 도시~ N번 도시까지 있다. 빈 그래프 생성
graph = [ [] for _ in range(n+1)]
# 도로의 개수에 대해서 
for _ in range(m): 
    s, e = map(int, input("연결 s e").split())
    graph[s].append(e) #시작점과 종착점을 꽂아넣는다
graph

NameError: ignored

In [ ]:
graph

NameError: ignored

In [ ]:
graph[1]

In [ ]:
# 함수: 입력 출발도시 -> 주어진 graph에 따라서
#       각 도시별 거리에 대한 정보를 출력
#       입력은 출발도시, 출력: 각 도시별 거리, 방식은 BFS
INF = float("inf") 
def bfs_city(start):
    ### 필요한 정보를 세팅 : To visit, Visited
    #visited list : -> 각 도시별 거리에 대한 정보 -> 
    distance = [INF] * (n+1)
    #방문목록: to visit list
    q = deque()

    #### 초기값 설정
    q.append(start)
    distance[start]=0

    #to visit list 빌 때 까지
    while q:
        # 일단 1개 도시에서 -> 뽑아 popleft
        now = q.popleft()
        for next_node in graph[now]:                    #이동
            if distance[next_node] == INF:              #온적이 없었다면
                #거리갱신
                distance[next_node] = distance[now] +1  #+1을 해주겠다
                q.append(next_node)                     #집어 넣는
        return distance

In [ ]:
INF = float("inf") 
[INF] * (n+1) #[INF] + [INF] +[INF]

NameError: ignored

In [ ]:
dis_result = bfs_city(x)
dis_result

NameError: ignored

In [ ]:
dis_k = [i for i, v in enumerate(dis_result) if v ==k ]
#출력 양식
if dis_k == []:
    print(-1)
else:
    while dis_k:
        print(dis_k.pop(0))

NameError: ignored

In [ ]:
거리 계산, 최단거리 등에서는

In [ ]:
## kobis api : json
#필요한 패키지들
import pandas as pd
import urllib.request # urllib, requests
import json

In [ ]:
#내가 요청할 url을 문자열로 생성
url = "https://kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=16017155671c20ec5a59a6a52b651447&itemPerPage=20"
movie_page = urllib.request.urlopen(url)
movie_data = json.loads(movie_page.read().decode("utf-8"))
movie_data

{'movieListResult': {'movieList': [{'companys': [],
    'directors': [{'peopleNm': '김동하'}],
    'genreAlt': '드라마',
    'movieCd': '20203354',
    'movieNm': '상규형이 하지 말랬어',
    'movieNmEn': '',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '기타',
    'prdtYear': '2020',
    'repGenreNm': '드라마',
    'repNationNm': '한국',
    'typeNm': '단편'},
   {'companys': [],
    'directors': [],
    'genreAlt': '애니메이션',
    'movieCd': '20223829',
    'movieNm': '베르그프루',
    'movieNmEn': 'Bergfrue',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '기타',
    'prdtYear': '2021',
    'repGenreNm': '애니메이션',
    'repNationNm': '한국',
    'typeNm': '단편'},
   {'companys': [{'companyCd': '20169190', 'companyNm': '(주)어뉴'},
     {'companyCd': '20205861', 'companyNm': '오스카10스튜디오'}],
    'directors': [{'peopleNm': '김정훈'}],
    'genreAlt': '어드벤처,액션,코미디',
    'movieCd': '20201965',
    'movieNm': '해적: 도깨비 깃발',
    'movieNmEn': 'The Pirates : The Last Royal Treasure',
    'nationAlt': '한국',
    'openDt': '20220126',
    'prdtStatNm': '개봉',
    'prdtYear': '2020',
    'repGenreNm': '어드벤처',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20199861', 'companyNm': '주식회사 고래픽처스'}],
    'directors': [{'peopleNm': '천명관'}],
    'genreAlt': '범죄,드라마',
    'movieCd': '20199500',
    'movieNm': '뜨거운 피',
    'movieNmEn': 'Hot Blooded',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '후반작업',
    'prdtYear': '2020',
    'repGenreNm': '범죄',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '강민구'}],
    'genreAlt': '미스터리,드라마',
    'movieCd': '20212704',
    'movieNm': '뉴타운 생존자 수색작전',
    'movieNmEn': 'Search operation: The New Town Survivor',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '개봉준비',
    'prdtYear': '2021',
    'repGenreNm': '미스터리',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '나가사키 켄지'}],
    'genreAlt': '애니메이션',
    'movieCd': '20223828',
    'movieNm': '나의 히어로 아카데미아 더 무비: 월드 히어로즈 미션',
    'movieNmEn': "My Hero Academia: World Heroes' Mission",
    'nationAlt': '일본',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2021',
    'repGenreNm': '애니메이션',
    'repNationNm': '일본',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '박송열'}],
    'genreAlt': '기타',
    'movieCd': '20211542',
    'movieNm': '낮에는 덥고 밤에는 춥고',
    'movieNmEn': 'Hot in Day, Cold at Night',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '기타',
    'prdtYear': '2021',
    'repGenreNm': '기타',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '조던 필'}],
    'genreAlt': '미스터리,공포(호러)',
    'movieCd': '20219345',
    'movieNm': '놉',
    'movieNmEn': 'NOPE',
    'nationAlt': '미국',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2022',
    'repGenreNm': '미스터리',
    'repNationNm': '미국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '루이스 프리에토'}],
    'genreAlt': '스릴러,범죄',
    'movieCd': '20223288',
    'movieNm': '셰터드',
    'movieNmEn': 'Shattered',
    'nationAlt': '미국',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2022',
    'repGenreNm': '스릴러',
    'repNationNm': '미국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '루벤 플레셔'}],
    'genreAlt': '액션,어드벤처',
    'movieCd': '20211200',
    'movieNm': '언차티드',
    'movieNmEn': 'Uncharted',
    'nationAlt': '미국',
    'openDt': '20220216',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2022',
    'repGenreNm': '액션',
    'repNationNm': '미국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '다니스 고렛'}],
    'genreAlt': '스릴러,미스터리,드라마,SF',
    'movieCd': '20223402',
    'movieNm': '나이트 레이더스',
    'movieNmEn': 'Night Raiders',
    'nationAlt': '뉴질랜드',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2021',
    'repGenreNm': '스릴러',
    'repNationNm': '뉴질랜드',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20030116', 'companyNm': '(주)연필로명상하기'}],
    'directors': [{'peopleNm': '안재훈'}],
    'genreAlt': '애니메이션,드라마',
    'movieCd': '20223827',
    'movieNm': '살아오름: 천년의 동행',
    'movieNmEn': 'A Thousand Years Together',
    'nationAlt': '한국',
    'openDt': '',
    'prdtStatNm': '후반작업',
    'prdtYear': '2022',
    'repGenreNm': '애니메이션',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '사이먼 킨버그'}],
    'genreAlt': '액션',
    'movieCd': '20212836',
    'movieNm': '355',
    'movieNmEn': 'The 355',
    'nationAlt': '미국',
    'openDt': '20220209',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '액션',
    'repNationNm': '미국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [],
    'genreAlt': '액션',
    'movieCd': '20223793',
    'movieNm': '서유기: 손오공 홍해아 대전',
    'movieNmEn': 'The Journey to the West: Red Boy',
    'nationAlt': '중국',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2021',
    'repGenreNm': '액션',
    'repNationNm': '중국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '정량'}],
    'genreAlt': '애니메이션,판타지,어드벤처',
    'movieCd': '20223266',
    'movieNm': '애니멀 체인지',
    'movieNmEn': 'The Wild Life',
    'nationAlt': '중국',
    'openDt': '20220209',
    'prdtStatNm': '개봉',
    'prdtYear': '2020',
    'repGenreNm': '애니메이션',
    'repNationNm': '중국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '구파도'}],
    'genreAlt': '멜로/로맨스,액션,공포(호러),코미디,판타지',
    'movieCd': '20219245',
    'movieNm': '만년이 지나도 변하지 않는 게 있어',
    'movieNmEn': 'Till We Meet Again',
    'nationAlt': '대만',
    'openDt': '20220209',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '멜로/로맨스',
    'repNationNm': '대만',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '케네스 브래너'}],
    'genreAlt': '범죄,드라마,미스터리',
    'movieCd': '20205443',
    'movieNm': '나일 강의 죽음',
    'movieNmEn': 'Death on the Nile',
    'nationAlt': '미국',
    'openDt': '20220209',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '범죄',
    'repNationNm': '미국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [],
    'genreAlt': '멜로/로맨스',
    'movieCd': '20212871',
    'movieNm': '가슴이 떨리는 건 너 때문',
    'movieNmEn': '',
    'nationAlt': '일본',
    'openDt': '20220209',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '멜로/로맨스',
    'repNationNm': '일본',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20217881', 'companyNm': '(주)샤이커뮤니케이션즈'}],
    'directors': [{'peopleNm': '강현성'}],
    'genreAlt': '성인물(에로)',
    'movieCd': '20223691',
    'movieNm': '퇴폐의 온상 은밀한 만남',
    'movieNmEn': '',
    'nationAlt': '한국',
    'openDt': '20220208',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '성인물(에로)',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20141911', 'companyNm': '(주)뮤직엔닷컴'}],
    'directors': [{'peopleNm': '제너럴리스트'}],
    'genreAlt': '성인물(에로)',
    'movieCd': '20223724',
    'movieNm': '몸으로 대출 갚는 유부녀',
    'movieNmEn': '',
    'nationAlt': '한국',
    'openDt': '20220208',
    'prdtStatNm': '개봉',
    'prdtYear': '2021',
    'repGenreNm': '성인물(에로)',
    'repNationNm': '한국',
    'typeNm': '장편'}],
  'source': '영화진흥위원회',
  'totCnt': 86450}}

In [ ]:
movie_data["movieListResult"]

{'movieList': [{'companys': [{'companyCd': '20030116',
     'companyNm': '(주)연필로명상하기'}],
   'directors': [{'peopleNm': '안재훈'}],
   'genreAlt': '애니메이션,드라마',
   'movieCd': '20223827',
   'movieNm': '살아오름: 천년의 동행',
   'movieNmEn': 'A Thousand Years Together',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '후반작업',
   'prdtYear': '2022',
   'repGenreNm': '애니메이션',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [{'peopleNm': '사이먼 킨버그'}],
   'genreAlt': '액션',
   'movieCd': '20212836',
   'movieNm': '355',
   'movieNmEn': 'The 355',
   'nationAlt': '미국',
   'openDt': '20220209',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '액션',
   'repNationNm': '미국',
   'typeNm': '장편'},
  {'companys': [{'companyCd': '20169190', 'companyNm': '(주)어뉴'},
    {'companyCd': '20205861', 'companyNm': '오스카10스튜디오'}],
   'directors': [{'peopleNm': '김정훈'}],
   'genreAlt': '어드벤처,액션,코미디',
   'movieCd': '20201965',
   'movieNm': '해적: 도깨비 깃발',
   'movieNmEn': 'The Pirates : The Last Royal Treasure',
   'nationAlt': '한국',
   'openDt': '20220126',
   'prdtStatNm': '개봉',
   'prdtYear': '2020',
   'repGenreNm': '어드벤처',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [],
   'genreAlt': '액션',
   'movieCd': '20223793',
   'movieNm': '서유기: 손오공 홍해아 대전',
   'movieNmEn': 'The Journey to the West: Red Boy',
   'nationAlt': '중국',
   'openDt': '',
   'prdtStatNm': '개봉예정',
   'prdtYear': '2021',
   'repGenreNm': '액션',
   'repNationNm': '중국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [{'peopleNm': '정량'}],
   'genreAlt': '애니메이션,판타지,어드벤처',
   'movieCd': '20223266',
   'movieNm': '애니멀 체인지',
   'movieNmEn': 'The Wild Life',
   'nationAlt': '중국',
   'openDt': '20220209',
   'prdtStatNm': '개봉',
   'prdtYear': '2020',
   'repGenreNm': '애니메이션',
   'repNationNm': '중국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [{'peopleNm': '구파도'}],
   'genreAlt': '멜로/로맨스,액션,공포(호러),코미디,판타지',
   'movieCd': '20219245',
   'movieNm': '만년이 지나도 변하지 않는 게 있어',
   'movieNmEn': 'Till We Meet Again',
   'nationAlt': '대만',
   'openDt': '20220209',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '멜로/로맨스',
   'repNationNm': '대만',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [{'peopleNm': '케네스 브래너'}],
   'genreAlt': '범죄,드라마,미스터리',
   'movieCd': '20205443',
   'movieNm': '나일 강의 죽음',
   'movieNmEn': 'Death on the Nile',
   'nationAlt': '미국',
   'openDt': '20220209',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '범죄',
   'repNationNm': '미국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [],
   'genreAlt': '멜로/로맨스',
   'movieCd': '20212871',
   'movieNm': '가슴이 떨리는 건 너 때문',
   'movieNmEn': '',
   'nationAlt': '일본',
   'openDt': '20220209',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '멜로/로맨스',
   'repNationNm': '일본',
   'typeNm': '장편'},
  {'companys': [{'companyCd': '20217881', 'companyNm': '(주)샤이커뮤니케이션즈'}],
   'directors': [{'peopleNm': '강현성'}],
   'genreAlt': '성인물(에로)',
   'movieCd': '20223691',
   'movieNm': '퇴폐의 온상 은밀한 만남',
   'movieNmEn': '',
   'nationAlt': '한국',
   'openDt': '20220208',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '성인물(에로)',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [{'companyCd': '20141911', 'companyNm': '(주)뮤직엔닷컴'}],
   'directors': [{'peopleNm': '제너럴리스트'}],
   'genreAlt': '성인물(에로)',
   'movieCd': '20223724',
   'movieNm': '몸으로 대출 갚는 유부녀',
   'movieNmEn': '',
   'nationAlt': '한국',
   'openDt': '20220208',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '성인물(에로)',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [{'companyCd': '20157008', 'companyNm': '(주)픽쳐레스크'}],
   'directors': [{'peopleNm': '김기환'}],
   'genreAlt': '멜로/로맨스,성인물(에로),드라마',
   'movieCd': '20223808',
   'movieNm': '레트로 6969',
   'movieNmEn': '',
   'nationAlt': '한국',
   'openDt': '20220208',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '멜로/로맨스',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [],
   'genreAlt': '성인물(에로)',
   'movieCd': '20223725',
   'movieNm': '남편이 데려온 나를 괴롭히는 남자',
   'movieNmEn': '',
   'nationAlt': '일본',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '성인물(에로)',
   'repNationNm': '일본',
   'typeNm': '장편'},
  {'companys': [{'companyCd': '20217881', 'companyNm': '(주)샤이커뮤니케이션즈'}],
   'directors': [{'peopleNm': '강현성'}],
   'genreAlt': '성인물(에로)',
   'movieCd': '20223674',
   'movieNm': '그녀의 육체 앞에 무너진 이성',
   'movieNmEn': '',
   'nationAlt': '한국',
   'openDt': '20220208',
   'prdtStatNm': '개봉',
   'prdtYear': '2021',
   'repGenreNm': '성인물(에로)',
   'repNationNm': '한국',
   'typeNm': '장편'},
  {'companys': [],
   'directors': [{'peopleNm': '한선희'}],
   'genreAlt': '기타',
   'movieCd': '20212569',
   'movieNm': '거북이와 여자들',
   'movieNmEn': 'Transmigration: the Turtle and the Women',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '기타',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '김양희'}],
   'genreAlt': '기타',
   'movieCd': '20212570',
   'movieNm': '내일의 연인들',
   'movieNmEn': 'tomorrow’s lovers',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '기타',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '장승욱'}],
   'genreAlt': '애니메이션',
   'movieCd': '20212572',
   'movieNm': '바다 위의 별',
   'movieNmEn': 'Stars on the Sea',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '애니메이션',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '함유선'}],
   'genreAlt': '다큐멘터리',
   'movieCd': '20212585',
   'movieNm': '평화가 사람 속을 걸어다니네',
   'movieNmEn': 'Peace is Walking through The People',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '다큐멘터리',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '구소정'}],
   'genreAlt': '기타',
   'movieCd': '20223826',
   'movieNm': '애완거미',
   'movieNmEn': 'Pet Spider',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2020',
   'repGenreNm': '기타',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '최윤호'}],
   'genreAlt': '기타',
   'movieCd': '20223832',
   'movieNm': '소녀,안녕',
   'movieNmEn': 'Farewell, Girl',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '기타',
   'repNationNm': '한국',
   'typeNm': '단편'},
  {'companys': [],
   'directors': [{'peopleNm': '김지곤'}],
   'genreAlt': '다큐멘터리',
   'movieCd': '20212064',
   'movieNm': '여기, 나의 정원',
   'movieNmEn': 'Here, My Garden',
   'nationAlt': '한국',
   'openDt': '',
   'prdtStatNm': '기타',
   'prdtYear': '2021',
   'repGenreNm': '다큐멘터리',
   'repNationNm': '한국',
   'typeNm': '단편'}],
 'source': '영화진흥위원회',
 'totCnt': 86448}

In [ ]:
movie_page.read().decode("utf-8")
temp["movieListResult"]

NameError: ignored

In [ ]:
# 내가 20개의 영화를 요청을 했는데,
# 정말 20개 보냈는지 체크~~~
movie_data["movieListResult"].keys()

dict_keys(['totCnt', 'source', 'movieList'])

In [ ]:
len(movie_data["movieListResult"]["movieList"])

20

In [ ]:
# 받은 데이터 중에서 제일 처음 영화에 접근
movie_data["movieListResult"]["movieList"][0]

{'companys': [{'companyCd': '20030116', 'companyNm': '(주)연필로명상하기'}],
 'directors': [{'peopleNm': '안재훈'}],
 'genreAlt': '애니메이션,드라마',
 'movieCd': '20223827',
 'movieNm': '살아오름: 천년의 동행',
 'movieNmEn': 'A Thousand Years Together',
 'nationAlt': '한국',
 'openDt': '',
 'prdtStatNm': '후반작업',
 'prdtYear': '2022',
 'repGenreNm': '애니메이션',
 'repNationNm': '한국',
 'typeNm': '장편'}

In [ ]:
#영화 이름은?
movie_data["movieListResult"]["movieList"][0]["movieNm"]

'살아오름: 천년의 동행'

In [ ]:
#영화 영문 이름은?
movie_data["movieListResult"]["movieList"][0]["movieNmEn"]

'A Thousand Years Together'

In [ ]:
#1번 영화에서
#감독이 여러명이면 1번 감독에 대한 이름 출력

In [ ]:
movie_data["movieListResult"]

In [ ]:
movie_data["movieListResult"]["movieList"][0]["directors"][0]["peopleNm"]

'안재훈'

In [ ]:
# 아래의 정보들을 출력하세요.
# 1) 5번째 영화의 코드값 : movieCd
# 2) 5번쨰 영화의 국문명 : movieNm
# 3) 5번째 영화의 영문명 : 
# 4) 5번째 영화의 개봉일 : 
# 5)

In [ ]:
# 1) 5번째 영화의 코드값 : movieCd
movie_data["movieListResult"]["movieList"][5]["movieCd"]

'20219245'

In [ ]:
# 2) 5번쨰 영화의 국문명 : movieNm
movie_data["movieListResult"]["movieList"][5]["movieNm"]

'만년이 지나도 변하지 않는 게 있어'

In [ ]:
# 3) 5번째 영화의 영문명 : movieNmEn
movie_data["movieListResult"]["movieList"][5]["movieNmEn"]

'Till We Meet Again'

In [ ]:
# 4) 5번째 영화의 개봉일 : openDt
movie_data["movieListResult"]["movieList"][5]["openDt"]

'20220209'

In [ ]:
temp = movie_data["movieListResult"]["movieList"][4]
temp

{'companys': [],
 'directors': [{'peopleNm': '정량'}],
 'genreAlt': '애니메이션,판타지,어드벤처',
 'movieCd': '20223266',
 'movieNm': '애니멀 체인지',
 'movieNmEn': 'The Wild Life',
 'nationAlt': '중국',
 'openDt': '20220209',
 'prdtStatNm': '개봉',
 'prdtYear': '2020',
 'repGenreNm': '애니메이션',
 'repNationNm': '중국',
 'typeNm': '장편'}

In [ ]:
idx = 6
temp = movie_data["movieListResult"]["movieList"][idx]
print(temp["movieCd"])
print(temp["movieNm"])
print(temp["movieNmEn"])
print(temp["openDt"])
print(temp["directors"][0]["peopleNm"])

#만약 감독 정보가 없을 경우 대처해야 할 방안
if temp["directors"] == []:
    print("")
else:
    print(temp["directors"][0]["peopleNm"])

20205443
나일 강의 죽음
Death on the Nile
20220209
케네스 브래너

In [ ]:
# 데이터프레임으로 구현하고 싶을때 판다스는 딕셔너리 구조(키,밸류) 구조
movie_df = pd.DataFrame()
movie_df["movieCd"] = ""
movie_df["movieNm"] = ""
movie_df["movieNmEn"] = ""
movie_df["movieCd"][0] = movie_data["movieListResult"]["movieList"][0]["movieCd"]
#오류가 남
#빈 프레임을 만들고 그 안에 정보들을 한 줄씩 채워나가면서 쌓아나가야함

In [ ]:
# 일단 필요한 DF : 2개
#             1개 영화의 정보를 담을 DF:Only 1st
#             누적할 DF : 0층부터 ~~~~ ???층까지~
movie_df = pd.DataFrame()
movie_df_temp = pd.DataFrame()
movie_df_temp = movie_df_temp.append({"movieCd":"", "movieNm":"","moveNmEn":"","movieCd":"",
                                        "openDt":"","DirName":""},ignore_index=True)
movie_df_temp

  movieCd movieNm moveNmEn openDt DirName
0

In [ ]:
movie_df = pd.DataFrame()
movie_df_temp = pd.DataFrame()
movie_df_temp = movie_df_temp.append({"movieCd":"",
                                      "movieNm":"",
                                      "movieEn":"",
                                      "openDt":"", 
                                      "DirName":""},
                                 ignore_index=True)
movie_df_temp

  movieCd movieNm movieEn openDt DirName
0

In [ ]:
# i번째 영화 정보를 기록하는 방법
# 내가 받은 영화의 수를 기반으로 해야하니
num = len(movie_data["movieListResult"]["movieList"])
# 저는 i번째 영화에 대해서 정보를 추출..(정수)
for i in range(0, num):
    # i번째 영화에 대해서
    i_movie = movie_data["movieListResult"]["movieList"][i]
    #       필요한 정보(코드,이름, 개봉일..)추출
    movie_df_temp.iat[0,0] = i_movie["movieCd"]
    movie_df_temp.iat[0,1] = i_movie["movieNm"]
    movie_df_temp.iat[0,2] = i_movie["movieNmEn"]
    movie_df_temp.iat[0,3] = i_movie["openDt"]
    if i_movie["directors"] !=[]: # 감독정보 있을 때.
        movie_df_temp.iat[0,4] = i_movie["directors"][0]["peopleNm"]

    #       -> 단, 정보가 없을수도;;;예외처리!!!
    #       temp에 기록!!!(가로:i번째, 세로:그 정보 컬럼 정수인덱스)

    # temp것을 movie_df에 추가~~~
    movie_df = movie_df.append(movie_df_temp,ignore_index=True)

    # temp싹 방정리~~ -> 다음 영화 정보르..
    for j in range(len(movie_df_temp.columns)):
        movie_df_temp.iat[0, j] = ""

In [ ]:
len(movie_df_temp.columns)

5

In [ ]:
movie_df_temp

  movieCd movieNm movieEn openDt DirName
0

In [ ]:
### 코드 수정
# 일단 필요한 DF : 2개
#             1개 영화의 정보를 담을 DF:Only 1st
#             누적할 DF : 0층부터 ~~~~ ???층까지~
movie_df = pd.DataFrame()                                   #pd.DataFrame()를 변수 movie_df라 칭함
movie_df_temp = pd.DataFrame()                              
movie_df_temp = movie_df_temp.append({"movieCd":"","movieNm":"", "movieEn":"","openDt":"", "DirName":""},ignore_index=True) #ignore_index=True 이걸 하지 않으면 인덱스가 0번으로 모두 합쳐짐, 번호를 매기는 과정
#합치겠다 인덱스를 번호를 매기겠다 그게 아니면 멀티인덱스가 되어버림

num = len(movie_data["movieListResult"]["movieList"])       #몇개의 데이터가 들어왔는지 확인하는 작업

temp_code_id = movie_df_temp.columns.get_loc("movieCd")     #컬럼의 위치정보 반영시키겠다
temp_name_id = movie_df_temp.columns.get_loc("movieNm")
temp_ename_id = movie_df_temp.columns.get_loc("movieEn")
temp_open_id = movie_df_temp.columns.get_loc("openDt")
temp_dir_id = movie_df_temp.columns.get_loc("DirName")

for i in range(0, num):                                     #num 받은정보만큼 받아서 데이터 처리를 하겠다.
    i_movie = movie_data["movieListResult"]["movieList"][i]
    
    movie_df_temp.iat[0,temp_code_id] = i_movie["movieCd"]
    movie_df_temp.iat[0,temp_name_id] = i_movie["movieNm"]
    movie_df_temp.iat[0,temp_ename_id] = i_movie["movieNmEn"]
    movie_df_temp.iat[0,temp_open_id] = i_movie["openDt"]
    if i_movie["directors"] !=[]: # 감독정보 있을 때.
        movie_df_temp.iat[0,temp_dir_id] = i_movie["directors"][0]["peopleNm"]

    movie_df = movie_df.append(movie_df_temp,ignore_index=True)

    for j in range(len(movie_df_temp.columns)):
        movie_df_temp.iat[0, j] = ""
#데이터를 넘길 때 빈칸으로 만드는 이유:
#A,B,C,D형식으로 입력해서 넘길때 다 비우지 않으면 이런식으로 말끔하게 정보가 채워지지 않음

In [ ]:
movie_df.head(6)

    movieCd                        movieNm  ...    openDt  DirName
0  20203354                    상규형이 하지 말랬어  ...                김동하
1  20223829                          베르그프루  ...
2  20201965                     해적: 도깨비 깃발  ...  20220126      김정훈
3  20199500                          뜨거운 피  ...                천명관
4  20212704                   뉴타운 생존자 수색작전  ...                강민구
5  20223828  나의 히어로 아카데미아 더 무비: 월드 히어로즈 미션  ...            나가사키 켄지

[6 rows x 5 columns]

In [ ]:
#apply와 lambda함수 이용하여 openDt 정보 활용한 데이터 날짜별로 쪼기
#데이터 분석 뿐만아니라 처리까지 할 줄 아는 스킬을 갖춰야 한다!!
#슬라이싱을 이용 x[:4] 3개까지 당겨오고 apply로 끌어와 lambda로 한줄 표현
movie_df["year"] = movie_df.loc[:,"openDt"].apply(lambda x: str(x)[:4])
movie_df["month"] = movie_df.loc[:,"openDt"].apply(lambda x: str(x)[4:6])
movie_df["year"] = movie_df.loc[:,"openDt"].apply(lambda x: str(x)[6:])

In [ ]:
movie_df.head(6)

    movieCd                        movieNm  ... year month
0  20203354                    상규형이 하지 말랬어  ...
1  20223829                          베르그프루  ...
2  20201965                     해적: 도깨비 깃발  ...   26    01
3  20199500                          뜨거운 피  ...
4  20212704                   뉴타운 생존자 수색작전  ...
5  20223828  나의 히어로 아카데미아 더 무비: 월드 히어로즈 미션  ...

[6 rows x 7 columns]

In [ ]:
#목적: 컬럼을 가로줄에 대한 내가 만든 인덱스로
#       일단 하기 전에 openDt순서대로 먼저 정렬하고 그 순서대로 가로줄 인덱스로
#       그 순서대로 가로줄 인덱스로~
movie_df.sort_values(by="openDt")

In [100]:
#최근날짜 기준으로
movie_df.sort_values(by="openDt", ascending=False)

     movieCd                        movieNm  ... year month
9   20211200                           언차티드  ...   16    02
17  20212871                 가슴이 떨리는 건 너 때문  ...   09    02
16  20205443                       나일 강의 죽음  ...   09    02
15  20219245            만년이 지나도 변하지 않는 게 있어  ...   09    02
14  20223266                        애니멀 체인지  ...   09    02
12  20212836                            355  ...   09    02
19  20223724                  몸으로 대출 갚는 유부녀  ...   08    02
18  20223691                  퇴폐의 온상 은밀한 만남  ...   08    02
2   20201965                     해적: 도깨비 깃발  ...   26    01
11  20223827                   살아오름: 천년의 동행  ...
13  20223793                서유기: 손오공 홍해아 대전  ...
0   20203354                    상규형이 하지 말랬어  ...
1   20223829                          베르그프루  ...
8   20223288                            셰터드  ...
7   20219345                              놉  ...
6   20211542                  낮에는 덥고 밤에는 춥고  ...
5   20223828  나의 히어로 아카데미아 더 무비: 월드 히어로즈 미션  ...
4   20212704                   뉴타운 생존자 수색작전  ...
3   20199500                          뜨거운 피  ...
10  20223402                       나이트 레이더스  ...

[20 rows x 7 columns]

In [103]:
movie_df.sort_values(by="openDt", ascending=False, inplace=True)

In [104]:
# 컬럼을 주고, 그 컬럼을 가로줄 인덱스로 지정...
# 주의) 그 컬럼이 ㅇ
movie_df.set_index("movieCd", inplace=True)
movie_df.head()

                      movieNm             movieEn    openDt  DirName year month
movieCd
20211200                 언차티드           Uncharted  20220216   루벤 플레셔   16    02
20219245  만년이 지나도 변하지 않는 게 있어  Till We Meet Again  20220209      구파도   09    02
20223266              애니멀 체인지       The Wild Life  20220209       정량   09    02
20212836                  355             The 355  20220209  사이먼 킨버그   09    02
20212871       가슴이 떨리는 건 너 때문                      20220209            09    02

In [127]:
#보고자 하는 컬럼 순서 변경
movie_df = movie_df.loc[:, ["openDt","year","month","day","movieNm","movieEn","DirName"] ]
movie_df.head()

KeyError: ignored

In [ ]:
#밑으로 혹은 옆으로 쌓아나가는 방식으로 데이터 수를 늘리는 방식

In [108]:
if temp["directors"] = movie_data["movieListResult"]["movieList"][i]
    print("")
else:
    print(temp["directors"][0]["peopleNm"])

    #       필요한 정보(코드,이름, 개봉일..)추출
    movie_df_temp = movie_df_temp.append({"movieCd":"", "movieNm":"","moveNmEn":"","movieCd":"",
                                        "openDt":"","DirName":""},ignore_index=True)
    #       temp에 기록!!! temp에 기록!!!(가로:i번째, 세로:그 정보 컬럼 정수이)
    temp = movie_data["movieListResult"]["movieList"][idx]
    # temp것을 movie_df에 추가 0으로 인덱스가 추가

    # temp싹 방정리~~ -> 다음 영화 정보를 기입하기 위해 비움
movie_df_temp()

SyntaxError: ignored

In [115]:
#구글드라이브에 CSV파일 추출하기
out_path ="/content/drive/MyDrive/2022 코딩/02_영화정보/02_영화정보.csv"
movie_df.to_csv(out_path)

In [ ]:
#영화사 상세정보 API추출하여 열 추가하기
#개별 영화의 속성 추가
# 형태적으로 옆으로 늘어나는 모양!
# 잠시 상세 정보 요청하고, 처리하는 기능 체크

In [ ]:
# 1) 광해에 대한 상세 정보 요청 url :(본인 키값으로)
# 2) 그 주소에 대해서 통신(urllib.request,urlopen)
# 3) 파이썬에서 접근이 용이하게 json 패키지써서
#    문자열 데이터를 파이썬dict, list처럼 변형!

In [ ]:
url_p1 = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key="
key = "16017155671c20ec5a59a6a52b651447"
url_p2 = "&movieCd="
movie_code = "20124079"
url = url_p1 + key + url_p2 + movie_code
print(url)

temp_page = urllib.request.urlopen(url)
temp_data = json.loads(temp_page.read().decode("utf-8"))
temp_data

In [ ]:
# Q) 광해 영화의 장르는?
# Q) 광해 영화의 출연한 배우의 수?
# Q) 광해 영화의 배우 정보가 있다면, 1번 배우에 대한 이름
# Q)                                 1번 배우의 배역이름
# ---> 이 정보들을 추출해보세요!

In [122]:
temp_data["movieInfoResult"]["movieInfo"]["genres"]

[{'genreNm': '사극'}, {'genreNm': '드라마'}]

In [123]:
#장르에 대한 정보
temp_data["movieInfoResult"]["movieInfo"]["genres"][0]["genreNm"]

'사극'

In [124]:
#출연자 수
len(temp_data["movieInfoResult"]["movieInfo"]["actors"])

36

In [125]:
#배역에 대한 정보
temp_data["movieInfoResult"]["movieInfo"]["actors"][0]["peopleNm"]

'이병헌'

In [128]:
movie_df["Genre"] = ""      #장르 정보
movie_df["ActNum"] = ""     #출연배우수 컬럼추가
movie_df["ActName"] = ""    #배우이름 컬럼추가
movie_df["ActCast"] = ""    #배역이름 컬럼추가

In [ ]:
#시도
movie_df.loc[:,"movieCd"].apply(lambda x: str(x)[:4])
# 컬럼을 주고, 그 컬럼을 가로줄 인덱스로 지정...
# 주의) 그 컬럼이 ㅇ
movie_df.set_index("movieCd", inplace=True)
movie_df.head()

temp_code_id = movie_df_temp.columns.get_loc("movieCd")     #컬럼의 위치정보 반영시키겠다

for i in range(0, num):                                     #num 받은정보만큼 받아서 데이터 처리를 하겠다.
    i_movie = movie_data["movieListResult"]["movieList"][i]
    
    movie_df_temp.iat[0,temp_code_id] = i_movie["movieCd"]

In [129]:
movie_df.index

Index(['20211200', '20219245', '20223266', '20212836', '20212871', '20205443',
       '20223724', '20223691', '20201965', '20223793', '20223827', '20203354',
       '20223829', '20223288', '20199500', '20211542', '20223828', '20212704',
       '20219345', '20223402'],
      dtype='object', name='movieCd')

In [133]:
for i_code in movie_df.index:
    print(i_code)

20211200
20219245
20223266
20212836
20212871
20205443
20223724
20223691
20201965
20223793
20223827
20203354
20223829
20223288
20199500
20211542
20223828
20212704
20219345
20223402

In [132]:
# 접근1을 정수대신 제가 만든 인덱스 중심으로
for i_code in movie_df.index:
    print(i_code)
    # i_code에 대한 상세정보를 요청하는 url만들기`~
    url_p1 = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key="
    key = "16017155671c20ec5a59a6a52b651447"
    url_p2 = "&movieCd="
    url = url_p1 + key + url_p2 + str(i_code)
    print(url)

20211200
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20211200
20219245
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20219245
20223266
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223266
20212836
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20212836
20212871
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20212871
20205443
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20205443
20223724
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223724
20223691
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223691
20201965
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20201965
20223793
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223793
20223827
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223827
20203354
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20203354
20223829
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223829
20223288
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223288
20199500
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20199500
20211542
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20211542
20223828
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223828
20212704
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20212704
20219345
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20219345
20223402
http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=16017155671c20ec5a59a6a52b651447&movieCd=20223402

In [ ]:
#HTTP 
#UTF-8로 처리하겠다
# 접근1을 정수대신 제가 만든 인덱스 중심으로
for i_code in movie_df.index:
    print(i_code)
    # i_code에 대한 상세정보를 요청하는 url만들기`~
    url_p1 = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key="
    key = "16017155671c20ec5a59a6a52b651447"
    url_p2 = "&movieCd="
    url = url_p1 + key + url_p2 + str(i_code)
    print(url)
    temp_page = urllib.request.urlopen(url)
    temp_data = json.loads(temp_page.read().decode("utf-8"))
    print((temp_data))
    ### i_code에 대한 상세정보 url을 직접 요청
    ###                                    받아서
    ###                                  처리하기 편하게 json

    ### 필요정보 추출 -> DF에 특정 위치에 맞게 업데이트~~

In [ ]:
#이제 내가 원하는 위치에 장르,출연배우수, 배우이름, 배역이름 넣겠다 "Genre" "ActNum" ActName ActCast

In [ ]:
out_path ="/content/drive/MyDrive/2022 코딩/02_영화정보/02_영화정보배역수 추가.csv"
movie_df.to_csv(out_path)