<a href="https://colab.research.google.com/github/daegeunbae/daegeunbae/blob/main/2022_02_08%ED%8C%90%EB%8B%A4%EC%8A%A4%EB%B0%B0%EB%8C%80%EA%B7%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

In [3]:
stock_price_DF = pd.DataFrame(
    data = [10000, 10300, 9900, 10500, 11000],
    index = ["2022-01-01", "2022-01-02","2022-01-03",
             "2022-01-04", "2022-01-5"]
)
stock_price_DF.rename(columns = {0:"시가"},inplace=True)
stock_price_DF["종가"] = [11000, 12000, 10000,13000, 12000]
stock_price_DF["고가"] = [13000, 15000, 15000, 18000, 17000 ]
stock_price_DF["저가"] = [3000,  5000,  5000,   8000, 7000]
stock_price_DF
# -> 여기서 체크할 사항: 기존 DF가 있다면
#     DF[ 컬럼] 으로 쉽게 컬럼에 대한 핸들링이 쉽다!!!

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
### Pandas DataFrame 정리 ####
1) DataFrame : 2차원 -> 인덱스가 가로, 세로 :2개!!!
   -> 1개, 여러개 슬라이싱, 여러개 리스트, 기타...
2) pandas가 태생적으로 가지는 정수 인덱스 + 내가 만든 인덱스
   -> 1)에서 모두 다 적용이 가능함!!!!
   -> 단, FM방법으로 하실 때는 정수 or 내가만든거 중 1개 선택!!
3) FM적으로 접근하는 방법에 대해서 : 속도!!!
   -> 1개의 값 : at(가로,세로 다 내가 만든거),
                 iat(가로, 세로 다 정수로..)
   -> 여러개 값(search) : loc,(가로,세로 다 내가 만든거)
                          iloc (가로, 세로 다 정수로..)
4) DF[컬럼] : 간략하게 DF 컬럼에 대한 정보 볼 때..
              DF[컬럼]에서 값을 변경, 컬럼 추가...
              data["시가"] = [~~~~~]
              data["종가"] = data["시가"] + data["종가"]
              + 줄 단위 연산을 통해서 할 때 lambda apply로...
              data["gap"] = data.apply(lambda x: ~~~~)
5) 줄 단위에 대한 일괄적용!!!-> 전처& 특징 생성, 변환 등...(ML)
    -> 내가 줄 단위 할 때 필요한 정보들 생각!!!
    -> 줄을 가로줄이냐 세로줄이냐에 따라서 axis =0,1로 설정!!!
    -> 무엇을 할지에 대해서 간략하면 lambda로
    ->                      복잡하면 일반적인 함수 만들어서`~
6) numpy, pd.Series에 있던 여러가지 기타 연산들..max, mean,,,,

In [4]:
stock_price_DF["시가"].mean()

10340.0

In [5]:
stock_price_DF.mean()

시가    10340.0
종가    11600.0
고가    15600.0
저가     5600.0
dtype: float64

In [6]:
# 분석하는 데이터 불러놓고, 종종 사용함!! Check!!!
stock_price_DF.describe()

                 시가            종가            고가           저가
count      5.000000      5.000000      5.000000     5.000000
mean   10340.000000  11600.000000  15600.000000  5600.000000
std      439.317653   1140.175425   1949.358869  1949.358869
min     9900.000000  10000.000000  13000.000000  3000.000000
25%    10000.000000  11000.000000  15000.000000  5000.000000
50%    10300.000000  12000.000000  15000.000000  5000.000000
75%    10500.000000  12000.000000  17000.000000  7000.000000
max    11000.000000  13000.000000  18000.000000  8000.000000

In [ ]:
# 모델을 만들 때, 무슨 변수를 쓸까,,,제거할까..
# --> 가장 1차원적인 지표...
stock_price_DF.corr()

In [ ]:
# 값들이 유니크한지!!!!!!!
stock_price_DF.unique()

In [ ]:
stock_price_DF["시가"].unique()

In [ ]:
len(stock_price_DF) == len(stock_price_DF["시가"].unique())

In [ ]:
stock_price_DF["고가"].unique()

In [ ]:
len(stock_price_DF.index.unique())

In [ ]:
#### 빵구난 데이터들 처리~~
from numpy import nan as NA

In [ ]:
data = pd.DataFrame( 
    data = [ 
             [1, 6.5, 3],
             [1 ,NA, NA ],
             [NA, NA, NA],
             [ NA, 6.5, 3]  
           ]
)
data

In [ ]:
test_01 = data.dropna() 
# 가로줄기준으로 다 있는 데이터만 살려둔다!!!
# ----> 가로줄 기준으로 모든 것이 완벽한 것들만!!!
# ----> 빵구난 것은 전혀 존재하지 않음!!!
test_01

In [ ]:
data.dropna(axis = 0) # 지우겠다

In [ ]:
data.dropna(axis = 1)

In [ ]:
data.dropna(how = "all", axis = 0)

In [ ]:
data.dropna(how = "all", axis = 1)

In [ ]:
# thresh 는 정상적인 값이 기준!!!
# 줄에 데이터 중에서, 
data.dropna(thresh=1, axis = 0)

In [ ]:
#가로줄 기준으로 정상적인 값이 2이상인 값들을 살리겠다
data.dropna(thresh=2, axis = 0)

In [ ]:
##이제는 지우지말고 채우자~ fillna를 이용해서 채움
data.fillna(0)

In [ ]:
#채우기는 하는데, 1번 컬럼은 0으로 채우고, 2번은 99로 채우려면?
# ----------> 컬럼마다 다른 값으로 채울려고 할때 (평균, 최빈값-주어진 값 중에서 가장 자주 나오는 값)
# 딕셔너리 형태로 ~는 이걸로 ~는 이걸로 채워줘!

In [ ]:
myfile = files.upload()

In [19]:
import pandas as pd

In [ ]:
# 구글 드라이브에 있는 파일을 가지고 사용할 때..

In [20]:
from google.colab import files

In [21]:
from google.colab import drive

In [22]:
drive.mount("/gdrive")

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [27]:
path = "/gdrive/MyDrive/01_data/01_olive.csv"
path

'/gdrive/MyDrive/01_data/01_olive.csv'

In [28]:
data = pd.read_csv(path)
data.head()

       Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0  1.North-Apulia       1     1  ...         36         60          29
1  2.North-Apulia       1     1  ...         31         61          29
2  3.North-Apulia       1     1  ...         31         63          29
3  4.North-Apulia       1     1  ...         50         78          35
4  5.North-Apulia       1     1  ...         50         80          46

[5 rows x 11 columns]

In [ ]:
#### colab에서 파일을 불러오는 경우
# case1) 내 local pc의 파일을 불러서 사용
# from google.colab import files
# -> 크롬 브라우저 추천, 에러가 발생하면
#         브라우저의 쿠키에 https://colab.research.google.com/
#         추가!!!
#         단, 경로 content 폴더 밑으로 들어옴.

# case2) 구글 드라이브 연결해서 사용!!!
#         경로 : /gdrive~~~~
# case2-1) 내 구글 드라이브에 있는 파일
# case2-2) 공유된 폴더에서 사용할 경우
#          -> 구글 드라이브에 가서 
#             "드라이브에 바로가기 추가"!!!!
#          -> 마운트하면 gdrive에 보임!!

In [29]:
# Q) unnamed0컬럼을 id_area 컬럼이름 변경~~~: rename

In [44]:
data.rename(columns = {"Unnamed: 0 ":"id_area" }, inplace=True)
data.head(3)

       Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0  1.North-Apulia       1     1  ...         36         60          29
1  2.North-Apulia       1     1  ...         31         61          29
2  3.North-Apulia       1     1  ...         31         63          29

[3 rows x 11 columns]

In [46]:
data.head()

       Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0  1.North-Apulia       1     1  ...         36         60          29
1  2.North-Apulia       1     1  ...         31         61          29
2  3.North-Apulia       1     1  ...         31         63          29
3  4.North-Apulia       1     1  ...         50         78          35
4  5.North-Apulia       1     1  ...         50         80          46

[5 rows x 11 columns]

In [47]:
str(int("4.North-Apulia".split(".")[0])-1)+"_"+"4.North-Apulia".split(".")[1]

'3_North-Apulia'

In [50]:
str(int( x.split(".")[0])-1) + "_"+ x.split(".")[1]

NameError: ignored

In [45]:
data.columns(0)

TypeError: ignored

In [38]:
data.loc[:, "id_area"] #FM

KeyError: ignored

In [34]:
data["id_area"]

KeyError: ignored

In [39]:
len(data["id_area"].uique())

KeyError: ignored

In [ ]:
split(" , ") lambda x : x(1) -1

In [ ]:
str(int("4.North-Apulia".split(".")[0])-1)+"_"+"4.North-Apulia".split(".")[1]

In [40]:
str(int( x.split(".")[0])-1) + "_"+ x.split(".")[1]

NameError: ignored

In [42]:
data["id_area"] = data["id_area"].apply(lambda x : str(int( x.split(".")[0])-1)+"_"+x.split(".")[1] )
data.head()

KeyError: ignored

In [51]:
data["id_area"] = data["id_area"].apply(lambda x : str(int( x.split(".")[0])-1)+"_"+x.split(".")[1] )
data.head()

KeyError: ignored

In [52]:
data["palmitoleic"].apply(lambda x: x/100)

0      0.75
1      0.73
2      0.54
3      0.57
4      0.67
       ...
567    1.10
568    1.00
569    0.90
570    1.20
571    0.80
Name: palmitoleic, Length: 572, dtype: float64

In [54]:
data["palmitoleic"] / 100

0      0.75
1      0.73
2      0.54
3      0.57
4      0.67
       ...
567    1.10
568    1.00
569    0.90
570    1.20
571    0.80
Name: palmitoleic, Length: 572, dtype: float64

In [55]:
data["palmitoleic"] = data["palmitoleic"] / 100
data.head()

       Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0  1.North-Apulia       1     1  ...         36         60          29
1  2.North-Apulia       1     1  ...         31         61          29
2  3.North-Apulia       1     1  ...         31         63          29
3  4.North-Apulia       1     1  ...         50         78          35
4  5.North-Apulia       1     1  ...         50         80          46

[5 rows x 11 columns]

In [56]:
data.head()

       Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0  1.North-Apulia       1     1  ...         36         60          29
1  2.North-Apulia       1     1  ...         31         61          29
2  3.North-Apulia       1     1  ...         31         63          29
3  4.North-Apulia       1     1  ...         50         78          35
4  5.North-Apulia       1     1  ...         50         80          46

[5 rows x 11 columns]

In [57]:
# 기존 컬럼을 가로줄에 대한 인덱스로 변환을 할 때
# set_index

In [58]:
data.index

RangeIndex(start=0, stop=572, step=1)

In [62]:
data.set_index("id_area", inplace = True) #많이 쓰임
data.head()

KeyError: ignored

In [64]:
data.to_csv("/gdrive/MyDrive/01_data.csv")

In [65]:
import glob #경로를 알려주는 역할
import sys
import os

In [68]:
many_file_path="/gdrive/MyDrive/01_data/06_manyfile/*.csv" #//*.csv
file_path_list = glob.glob(many_file_path)
file_path_list

['/gdrive/MyDrive/01_data/06_manyfile/1766.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1768.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1771.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1763.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1770.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1772.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1767.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1769.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1765.csv',
 '/gdrive/MyDrive/01_data/06_manyfile/1764.csv']

In [71]:
# case1) 10개 파일을 각각의 DF으로 받아야 할 때
data_1776 = pd.read_csv(~~~~1776.csv)
data_1768 = pd.read_csv(`~~~1768.csv`)
...
vars() "data_" + 불러온 파일의 이름
"data_1776" -> 변수명 data_1776 

# ---> 문자열을 변수명으로 인식하게 하는 함수  vars()

SyntaxError: ignored

In [70]:
vars() ["data"]    # local 혹시 vars() "data"

           Unnamed: 0  region  area  ...  linolenic  arachidic  eicosenoic
0      1.North-Apulia       1     1  ...         36         60          29
1      2.North-Apulia       1     1  ...         31         61          29
2      3.North-Apulia       1     1  ...         31         63          29
3      4.North-Apulia       1     1  ...         50         78          35
4      5.North-Apulia       1     1  ...         50         80          46
..                ...     ...   ...  ...        ...        ...         ...
567  568.West-Liguria       3     8  ...         10         10           2
568  569.West-Liguria       3     8  ...         10         10           3
569  570.West-Liguria       3     8  ...          0          0           2
570  571.West-Liguria       3     8  ...         10         10           2
571  572.West-Liguria       3     8  ...         10         20           2

[572 rows x 11 columns]

In [69]:
for file in file_path_list:
    print(file)

/gdrive/MyDrive/01_data/06_manyfile/1766.csv
/gdrive/MyDrive/01_data/06_manyfile/1768.csv
/gdrive/MyDrive/01_data/06_manyfile/1771.csv
/gdrive/MyDrive/01_data/06_manyfile/1763.csv
/gdrive/MyDrive/01_data/06_manyfile/1770.csv
/gdrive/MyDrive/01_data/06_manyfile/1772.csv
/gdrive/MyDrive/01_data/06_manyfile/1767.csv
/gdrive/MyDrive/01_data/06_manyfile/1769.csv
/gdrive/MyDrive/01_data/06_manyfile/1765.csv
/gdrive/MyDrive/01_data/06_manyfile/1764.csv

In [73]:
for f in file_path_list:
    
    data = pd.read_csv(f)

In [75]:
"data_" os.path.basename(f).split(",")[0]

SyntaxError: ignored

In [ ]:
vars()["data_" + os.path.basename(f).split(".")[0]] = pd.read_csv(f)

In [76]:
data_1770.head()

NameError: ignored

In [82]:
many_file_path = "/gdrive/MyDrive/강의/2022_01_k-digital/03_pandas/02_pandas/01_data/06_manyfile/*.csv"
file_path_list = glob.glob(many_file_path)
file_path_list

[]

In [81]:
data_tot = pd.DataFrame()
for f in file_path_list:
    data_tot = data_tot.append(pd.read_csv(f), ignore_index=True)
data_tot.head() #열이 안맞아 오류나는것

   ITE00100554    17660101  TMAX   -26  ...  17650101  66 17640101  64
0  ITE00100554  17660101.0  TMIN -50.0  ...       NaN NaN      NaN NaN
1  ITE00100554  17660102.0  TMAX  -9.0  ...       NaN NaN      NaN NaN
2  ITE00100554  17660102.0  TMIN -29.0  ...       NaN NaN      NaN NaN
3  ITE00100554  17660103.0  TMAX   1.0  ...       NaN NaN      NaN NaN
4  ITE00100554  17660103.0  TMIN -13.0  ...       NaN NaN      NaN NaN

[5 rows x 27 columns]

In [77]:
###엑셀 파일을 불러들일때
#참고! excel에서 중요한 사항은 어느 sheet를

In [80]:
path = "/gdrive/MyDrive/01_data/07_surveys_excelformat.xls"
data_ex = pd.read_excel(path, sheet_name = "Sheeet1")
data_ex.head(3)

ImportError: ignored

In [85]:
data.to_excel("/gdrive/MyDrive/temp_test1/testexcel.xlsx") #