<a href="https://colab.research.google.com/github/daegeunbae/daegeunbae/blob/main/Quiz_03_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95_%EB%B0%B0%EB%8C%80%EA%B7%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 연습 문제 리뷰

### 01. 
8과목의 점수를 입력을 받아서, 이들의 평균을 구하는 것을 구하세요. 아래와 같이 본인이 입력을 받으려는 과목의 이름을 출력을 하면서, 그 과목의 점수를 입력을 받으면서 진행을 하세요

In [ ]:
sub = ["국어", "수학", "과학", "사회", "영어", "음악"]
zumsu = []

for i in sub:
    txt = i + "점수를 입력하세요 : "
    zumsu.append(int(input(txt)))
print(sum(zumsu)/len(zumsu))

국어점수를 입력하세요 : 10
수학점수를 입력하세요 : 20
과학점수를 입력하세요 : 30
사회점수를 입력하세요 : 40
영어점수를 입력하세요 : 50
음악점수를 입력하세요 : 60
35.0

### 02. 
아래와 같은 학생 성적에 대해서 a = {"A": 30, "B":50, "C":20,"D":30, "E":85, "F":85,"G":20}의 데이터에 대해서, 최고점의 점수와 최고점을 받은 학생이 몇 명인지 알려주세요

In [ ]:
a = {"A": 30, "B":50, "C":20,"D":30, "E":85, "F":85,"G":20}
print("최고점 : {}".format(max(a.values())))
print("최고점 학생 수 : {}".format(len([x for x in a.values() if x == max(a.values())])))

최고점 : 85
최고점 학생 수 : 2

### 03.
a = ["three", "six", "nine", "twelve"] 데이터를 기반으로 b = ["three_3", "six_6", "nine_9", "twelve_12"]로 만들어보세요~

In [ ]:
a = ["three", "six", "nine", "twelve"]
[x+'_'+str(3+3*i) for i, x in enumerate(a)]

['three_3', 'six_6', 'nine_9', 'twelve_12']

In [ ]:
a = ["three", "six", "nine", "twelve"]

b = [a[i] + '_' + str((i+1)*3) for i in range(4)]
b

### 04.
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ] 의 데이터가 주어졌을 때, 이들 중에서 100, 200, 800, 500, 450, 300 의 값을 제외한 나머지 값들에 대해서  / 100을 값을 아래와 같이 출력하세요~ 아래와 같은 2가지 방법으로 하세요<br>
방법1 : 리스트 컴프리핸션, not in 사용<br>
방법2 : 리스트 컴프리핸션, in 사용

In [ ]:
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ]

In [ ]:
#) not in 을 사용해서 하기
[ x/100 for x in a if x not in [100, 200, 800, 500, 450, 300]]

[1.5]

In [ ]:
# in을 사용해서 하기
[ x/100 for x in a if x in set(a) - set([100, 200, 800, 500, 450, 300])]

[1.5]

### 05.
100까지의 소수를 모두 찾아보세요~

3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

### 06.
아래의 그림을 만들어 보세요

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

### 07.
3개의 수를 입력을 받고, 그 중에서 가장 큰 숫자를 출력하세요

In [ ]:
sorted([int(input('첫번째수:')),int(input('두번째수:')),int(input('세번째수:'))])[-1]

처음 수: 3
두번 째 수: 5
마지막 수: 2
5

### 08.
아래와 같이 주가 가격의 정보가 있다. 가로줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 고가가 200보다 큰 경우를 출력하세요

In [ ]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [ ]:
for i in data[1:]:
    if i[1]>200:
        print(i[1])

220
340

### 09.
아래와 같이 주가 가격의 정보가 있다. 가로줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 그 날의 고가과 저가의 변동폭을 날짜별로 출력을 하세요

In [ ]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [ ]:
cnt=1
for i in data[1:]:
    
    print(f'날짜 {cnt}일 : {abs(i[1]-i[2])}')
    cnt+=1

[60, 100, 40]

### 10. 
아래와 같이 주가 가격의 정보가 있다. 가로 줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 그날 시가에 사서 고가에 매도를 하였을 때 날짜별로 수익금을 출력하세요

In [ ]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [ ]:
date=1
for i in data[1:]:
    수익금=(i[1]-i[0])
    date+=1
    print(f'{date}일 수익금 : {수익금}')

1일 수익금 : 30
2일 수익금 : -10
3일 수익금 : 0